.timeline__current {
	display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    width: 200px;
    margin-right: 25px;
}

@media only screen
and (max-width : 320px) {
	.timeline__current{
		border-bottom: 1px solid #e9ecef;
  	width: auto;
		height: 56px;
		margin: 0;
		padding: 0 10px;
	}
}
