.button_type_default {
	background: #007DFF;
	border: 1px solid #007DFF;
	font-size: 13px;
	font-family: HelveticaNeue-Medium, 'Open Sans', sans-serif;
}
.button_type_default:hover {
	background: #0059FF;
	border: 1px solid #007DFF; 
}
.button_type_default:active {
	background: #1D00FE;
	border: 1px solid rgba(11,0,255,0.80);
}


.button_type_default::before {
	background: #007DFF;
}
.button_type_default:hover::before {
	background: #0059FF;
	border: 1px solid #007DFF; 
}
.button_type_default:active::before {
	background: #1D00FE;
	border: 1px solid rgba(11,0,255,0.80);
}

@media only screen
and (max-width : 320px) {
	.button_type_default {
		margin-right: 15px;
	}
}